<p>addproduct works!</p>


<h2>Add Product</h2>
<form>
    <label>Product ID: </label> <input type="number" [(ngModel)]="id"  name="id" required/> <br/>
    <label>Product Name: </label><input type="text" [(ngModel)] = "product_name" name="product_name" required/> <br/>
    <label>Product Quantity: </label> <input type="text" [(ngModel)] ="product_quantity" name="product_quantity" required/> <br/>
    <label>Product Price: </label> <input type="text" [(ngModel)] = "product_price" name="product_price" required/> <br/>
    <button (click)="AddProduct()">Add Product</button>
</form>
<hr/>