
<div class="t_container">
    <div class="table_div">
        <h2>Product Table</h2>
        <table>
            <thead class="table-secondary">
                <tr>
                    <th>product id</th>
                    <th>product name</th>
                    <th>product quantity</th>
                    <th>product price</th>
                    <th>update</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let product of products">
                    <td>{{product.id}}</td>
                    <td>{{product.product_name}}</td>
                    <td>{{product.product_quantity}}</td>
                    <td>{{product.product_price}}</td>
                    <td><button type="button" class="btn btn-primary" (click)="updateProduct(product.id)">update</button></td>
                    <td><button type="button" class="btn btn-primary" (click)="deleteProduct(product.id)">delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
